<section class="search_bar">
    <input id="searchbar" type="search" #searchInput (keyup.enter)="searchProducts(searchInput.value)" placeholder="(Search)"/>
    <button class="submit_button" type="submit" (click)="searchProducts(searchInput.value)">Search</button>
</section>

<section id="ingredient_list">
    <h3>Ingredient List</h3>
    <p>{{product.ingredients}}</p>
</section>


<section class="product_img">
    <h2>{{product.name}}</h2>
    
    <p id="primary_img"><img src="{{product.imageUrl}}" alt="Specific Product Image 1" width="500" height="500"></p>
    <p id="secondary_img">
        <img src="none" alt="Specific Product Image 2" width="100" height="100">
        <img src="none" alt="Specific Product Image 3">
    </p>
    
</section>


<section id="my_items">
    <h4>
        Save to My Items
        <input type="checkbox"/>
    </h4>
</section>


<section class="bordered">
    <h3>Reviews</h3>
    <h3>
        <a routerLink="/reviews/{{product.prodNum}}">Create a Review</a>
    </h3>
    
    <input id="search_reviews" type="search" placeholder="Search Reviews"/>
    <input type="submit"/>

    <div id="review_list" *ngFor="let review of reviews">
        <aside>Review 1 Preview Media</aside>
        <aside>Fav Review<input type="checkbox"/></aside>
        <h4><a href="">{{review.title}}</a></h4>
        <div>{{review.body}}</div>
            
    </div>
    <div *ngIf="reviews?.length == 0">
        No Reviews
    </div>
</section>
