<section id="signup">
    <h3>Sign Up:</h3>
    <p>
        Enter email
        <input type="email" placeholder="ex: myemail@email.com"/>
    </p>
    <p>First Name <input type="text"/> </p>
    <p>
        Last Name
        <input type="text"/>
    </p>
    <p>
        Username
        <input type="text"/>
    </p>
    <p>
        Choose password
        <input type="password"/>
    </p>
    <p>
        Re-Enter password
        <input type="password"/>
    </p>
    <input type="submit"/>
</section>


<section id="login">
    <h2>Already have an account?</h2>
    <h4>Log In:</h4>

    <p>
        Login: 
        <input type="text" placeholder="E-mail or Username"/><br>
        Password: 
        <input type="password"/>
    </p>
    <input type="submit"/>
</section>

<button>Go Back</button>