<nav>
    <h4>Navigate To:</h4>
    <ul id="sidebar" style="list-style: none;">
        <li>
            <a routerLink="/search">Home</a>
        </li><br/>
        
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(1)">Conditioner</button> 
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(5)">Co-wash</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(2)">Leave-in</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(3)">Deep conditioner</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(4)">Shampoo</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(6)">Gel</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(7)">Brush/Comb</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(8)">Oil</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(9)">Non-gel styler</button>
        </li>
        <li>
            <button class= "nav_button" type="submit" (click)="searchByCategoryId(10)">Edge control</button>
        </li><br/>
            
        <li>
            <a routerLink="/favProducts">
                My Saved Items
            </a>
        </li>
    </ul>
</nav>    