<section class="search_bar">
            <input id="searchbar" type="search" #searchInput (keyup.enter)="searchProducts(searchInput.value)" placeholder="(Search)"/>
            <button class="submit_button" type="submit" (click)="searchProducts(searchInput.value)">Search</button>
</section>

        

<section id="review_parts">
    <h3>Write Review</h3>

    <div>
        <section class="product_img">
            <h2>{{product.name}}</h2>
                    
            <p id="primary_img"><img src="{{product.imageUrl}}" alt="Specific Product Image 1" width="200" height="200"></p>
                     
        </section>
    </div>

    <p>Title Your Review: <input type="text"/></p>
            
    <p>
        Add a Summary: 
        <textarea name="summary_text" cols="50" rows="10"></textarea>
    </p>
            
    <p>
        Add Media:
        <button>
            <a href="">
                Upload Pic/Video
            </a>
        </button>
    </p>

    <button>Go Back</button>
    <button>Save Changes</button>
    <button>Post Review</button>

</section>
