
        <header>
            <h1>Create a New Review</h1>
        </header>


        <section class="search_bar">
            <input id="searchbar" type="search" placeholder="(Search)"/>
            <input class="submit_button" type="submit"/>
        </section>


        <nav>
            <h4>Navigate To</h4>
            <ul id="sidebar" style="list-style: none;">
                <li>
                    <a href="file:///C:/Users/Simone/Desktop/Hello-World/Module2Project/HomePage.html">Home</a>
                </li>
                <li>Search by Product Type</li>
                    <ul class="product_types" style="list-style: none;">
                        <li><button>Conditioner</button></li>
                        <li><button>Co-wash</button></li>
                        <li><button>Leave-in</button></li>
                        <li><button>Shampoo</button></li>
                        <li><button>Gel</button></li>
                        <li><button>Brush/Comb</button></li>
                        <li><button>Oil</button></li>
                        <li><button>Non-gel Stylers</button></li>
                        <li><button>Edge Control</button></li>
                    </ul>
                <li>
                    <a href ="C:\Users\Simone\Desktop\Hello-World\Module2Project\MyItems.html">
                        My Saved Items
                    </a>
                </li>
            </ul>
        </nav>    
        

        <section id="review_parts">
            <h3>Write Review</h3>
            <p>Title Your Review: <input type="text"/></p>
            
            <p>
                Add a Summary: 
                <textarea name="summary_text" cols="50" rows="10"></textarea>
            </p>
            
            <p>
                Add Media:
                <button>
                    <a href="">
                        Upload Pic/Video
                    </a>
                </button>
            </p>

            <button>Go Back</button>
            <button>Save Changes</button>
            <button>Post Review</button>

        </section>
