<section class="search_bar">
            <input id="searchbar" type="search" #searchInput (keyup.enter)="searchProducts(searchInput.value)" placeholder="(Search)"/>
            <button class="submit_button" type="submit" (click)="searchProducts(searchInput.value)">Search</button>
</section>

        

<section id="review_parts">
        
    <div class="product_img" id="product_img_review">
           
        <h2 id="product_name_review">{{product.name}}</h2>
                    
        <p id="primary_img">
            <a routerLink="/products/{{product.prodNum}}">
                <img src="{{product.imageUrl}}" alt="Specific Product Image 1" width="200" height="200">
            </a>
        </p>
                     
         
    </div>
   
    <form [formGroup]="createReviewForm" (ngSubmit)="createReview()">
        <div id="review_input">
            <h3>Write Review</h3>

            {{response}}
            
            <p>Title Your Review: <input class="form-control" type="text" [formControlName]="'title'" name="title"/></p>
            
            <p>
                Add a Summary: 
                <textarea class="form-control" [formControlName]="'body'"  name="body" cols="50" rows="10"></textarea>
            </p>

            <button routerLink="/products/{{product.prodNum}}">Go Back</button>
            <button type="submit">Post Review</button>
        </div>
    
    </form>

</section>