<h3>Your Saved Items</h3>
<div class="list_container" *ngIf="isLoggedIn(), else elseBlock">
    <div class="list_container_item" *ngFor="let product of favoriteProducts">
        <a id="product_image" routerLink="/products/{{product.prodNum}}">
            <img [src]="product.imageUrl" height="150" width="150"/>
        </a>   
        <a id="product_name" routerLink="/products/{{product.prodNum}}">
            {{product.name}}
        </a>
        <div>
            <a id="remove_favorite" ><a id="x" (click)="deleteFavoriteProduct(product.prodNum)">x </a>Remove</a>
        </div>
    </div>
    <div *ngIf="favoriteProducts?.length == 0">
        You have no saved items.
    </div> 
</div>
<ng-template #elseBlock>
    <div id="fav_login_prompt">Login to See Saved Items.</div> 
</ng-template> 