<div class="content">
  <section class="SignUp">
    <h5>Log In:</h5>
    <input class="login_input" type="email" placeholder="Enter your email"/><br>              
    <input class="login_input" type="password" placeholder="Enter password"/><br>
    <input class="submit_button" id="login_submit_button" type="submit"/>
    <button class="sign_button">
        <a routerLink="/sign-up">
                Sign Up
        </a>
    </button> 
  </section>        

  <header>
    <h1 id="main_title">Natural Hair Hotspot</h1>
    <div id="secondary_title">Our value proposition.</div>
  </header>

  <!--Navigation side bar component-->
  <app-nav></app-nav>
  

  <!-- Page Content -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>