<div class="content">
  <section class="SignUp">
    <h5>Log In:</h5>
    <input type="email" placeholder="Enter your email"/><br>              
    <input type="password" placeholder="Enter password"/><br>
    <input class="submit_button" type="submit"/>
    <button class="sign_button">
        <a routerLink="/sign-up">
                Sign Up
        </a>
    </button> 
  </section>        

  <header>
    <h1>Natural Hair Hotspot</h1>
    <h2>Our value proposition.</h2>
  </header>


  <app-nav></app-nav>
  

  <!-- Page Content -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>